:root {
    --highlight-color: aqua;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
}

header {
    display: flex;
    padding-left: 50px;
    justify-content: space-between;
    background-color: slategray;
    align-items: center;
    
}

header h1 {
    background-color: var(--highlight-color);
    font-weight: bolder;

}

nav {
padding-right: 100px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
}


nav ul li {
    padding: 15px;
    font-size: 25px;
}

nav ul li a {
}

.hero {
    background-image: url("../images/hero.jpg");
    background-position: center;
    background-size:cover;
    padding: 275px 150px 25px 20px;
    display: flex;
    justify-content: end;
    
    
}

.hero h2 {
    color: black;
    background-color: var(--highlight-color);
    font-size: 350%;
    padding: 10px;
}

.hero img {
    width: 100%;
}

